<!DOCTYPE html>
<html>
  <head>
    <title>Example: Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="../../dist/form-validation.umd.js"></script>
  </head>
  <body>
    <div id="app">
      <form>
        <div>
          <label for="account">Account</label>
          <input id="account" v-model="account">
          <span>{{ $v.account.$errors.required }}</span>
        </div>

        <div>
          <label for="password">Password</label>
          <input id="password" v-model="password" type="password">
          <span>{{ $v.password.$errors.required }}</span>
        </div>
      </form>
    </div>

    <script src="../util/index.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
