* {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  justify-content: center;
}

body{
  padding: 10px;
}

h1 {
  display: block;
  text-align: center;
}

form {
  width: 480px;
  max-width: 96vw;
}

label {
  display: block;
}

input {
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
  width: 150px;
  outline: none;
  border-color: grey;
}

input:focus {
  border-color: black;
}

button {
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px;
  width: 55px;
}

ol {
  display: flex;
  min-height: 1rem;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 10px;
}

pre {
  margin-top: 10px;
  padding: 10px;
  overflow-y: auto;
  background-color: whitesmoke;
  border-radius: 5px;
  min-height: 250px;
}

li {
  list-style-type: disc;
  list-style-position: inside;
  color: red;
  line-height: 1;
}

li.loading {
  list-style-type: none;
  color: black;
}

br {
  margin: 50px 0;
}
