#app {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
}

fieldset {
  border-radius: 5px;
  max-width: 1080px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

fieldset label {
  display: inline-flex;
  width: 120px;
}

label {
  font-size: .9rem;
}

input {
  border-radius: 5px;
}

button {
  width: 100px;
  border-radius: 5px;
  margin-right: 5px;
}

ol {
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: circle;
  color: red;
}
