* {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  justify-content: center;
}

body{
  padding: 10px;
}

h1 {
  display: block;
  text-align: center;
}

form {
  display: flex;
  width: 480px;
  max-width: 96vw;
  flex-direction: column;
  justify-content: center;
}

label {
  display: block;
}

input {
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
}

button {
  border-radius: 5px;
  margin-right: 5px;
}

ol {
  display: flex;
  flex-direction: column;
  min-height: 1rem;
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

pre {
  margin-top: 10px;
  padding: 10px;
  overflow-y: auto;
  border: 1px solid #eee;
  border-radius: 5px;
}

li {
  list-style-type: disc;
  list-style-position: inside;
  color: red;
  line-height: 1;
}

br {
  margin: 50px 0;
}

button {
  width: 100%;
  padding: 5px;
}
