<!DOCTYPE html>
<html>
  <head>
    <title>Example: Vue</title>
    <script src="http://unpkg.com/vue@next"></script>
    <script src="../../dist/form-validation.umd.js"></script>
  </head>
  <body>
    <div id="app">
      <form>
        <div>
          <label for="account">Account</label>
          <input id="account" v-model="state.account">
          <span>{{ validator.account.$v.error }}</span>
        </div>

        <div>
          <label for="password">Password</label>
          <input id="password" v-model="state.password" type="password">
          <span>{{ validator.password.$v.error }}</span>
        </div>

        <button @click="addEmail" type="button">Add email</button>
        <template v-for="(email, index) of state.emails">
          <div>
            <label :for="'emails.' + index">Email</label>
            <input :id="'emails.' + index" v-model="state.emails[index]" @change="validator.emails[index].$v.touch()">
            <span>{{ validator.emails[index].$v.error }}</span>
            <button @click="removeEmail(index)" type="button">Remove email</button>
          </div>
        </template>
      </form>
    </div>

    <script src="../common.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
